{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h3>Featured trips</h3>
    {% if trips is defined %}
        <table class="table">
            {% for trip in trips %}
            <tbody>
                <tr>
                    <th>NAME</th>
                    <td>{{ trip.name }}</td>
                </tr>
                <tr>
                    <th>DESTINATION</th>
                    <td>{{ trip.destination }}</td>
                </tr>
                <tr>
                    <th>PRICE</th>
                    <td>{{ trip.price }}</td>
                </tr>
                <tr>
                    <th>DESCRIPTION</th>
                    <td>{{ trip.description }}</td>
                </tr>
                <tr>
                    <th>DATE</th>
                    <td>{{ trip.date ? trip.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>AVAILABLE PLACES</th>
                    <td>{{ trip.availablePlaces }}</td>
                </tr>
                <tr>
                    <th>IMAGE</th>
                    <td>{{ trip.displayImage }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>No available trips</p>
    {% endif %}
{% endblock %}