<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

    </head>
    <body>
        <header>
            {% block name %}
                {% if app.session.get('admin') == false %}
                    <h1 id="title"><a id="titlelink" href="/">Bookings</a></h1>
                {% else %}
                    <h1 id="title"><a id="titlelink" href="/admin">Bookings</a></h1>
                {% endif %}
            {% endblock %}

            {% block nav %}
                {% if app.session.get('admin') == false %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/trips">Trips</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/bookings">My bookings</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin">Admin zone</a>
                                    </li>
                                {% endif %}
                            </ul>
                {% else %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/admin/user">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/trip">Trips</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/booking">Bookings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Exit admin zone</a>
                                </li>
                            </ul>
                {% endif %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    {% if app.user.image is defined %}
                                        <a class="nav-item  dropdown-toggle" data-toggle="dropdown"><img
                                                    src="{{ app.user.displayImage }}"
                                                    style="width:40px; height: 40px;"></a>
                                    {% else %}
                                        <a class="nav-item  dropdown-toggle" data-toggle="dropdown"><img
                                                    src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1.jpg"
                                                    style="width:40px; height: 40px;"></a>
                                    {% endif %}
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a class="dropdown-item" href="{{ path('edit_user', {'id': app.user.id }) }}">Edit user</a></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
            {% endblock %}
        </header>
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
